.product-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.product-section-inner {
  width: 90%;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
    -5px -5px 10px rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}
.product-inner-header {
  text-align: center;
  color: #656565;
}
.product-inner-cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.product-inner-cards-inner {
  height: 80%;
  width: 25%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
    -5px -5px 10px rgba(255, 255, 255, 0.5);
  background: #c4c4c4;
  border-radius: 30px;
  position: relative;
}
.product-inner-cards-inner-shirt {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(../images/shirt-image.png);
}
.product-inner-cards-inner-pants {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(../images/pant-image.png);
}
.product-inner-cards-inner-suits {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(../images/suit-image.png);
}
.card-inner-text {
  position: absolute;
  top: 20%;
  color: #ffffff;
  left: 43%;
}
